.botao {
    background-color: #ff8905;
    padding: 25px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    color: #000;
    margin: 23px 0px;
}

.botao:hover {
    background-color: #7ca1ff;
    color: #363636;
}